**/*.iml
.gradle
gradlew
gradlew.bat
gradle.properties
gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
**/.DS_Store
/build
/captures
.externalNativeBuild
settings.gradle
app/src/debug/res/values/google_maps_api.xml
app/src/release/res/values/google_maps_api.xml

